backend_aws_s3_region = "us-east-2"

# `openssl rand -hex 5`
backend_aws_s3_state_bucket = "network-XXXXXXXXXX"

backend_aws_s3_state_bucket_role_suffix = "network-developer"

backend_aws_s3_allowed_account_ids = ["XXXXXXXXXXXX"]

provider_aws_region = "us-east-2"

provider_aws_allowed_account_ids = ["XXXXXXXXXXXX"]
